@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.NavBarContainer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid;
}
.NavBarContainer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.NavBarButtonContainer {
  margin-left: auto;
}
.NavBarButton {
  margin-left: 5px;
  color:  black;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
}
.NavBarContainer h1{
  color:#005792;
}
.NavBarButton:hover{
  color: #fdb44b;
}
.create {
  display: flex;
  flex-direction: column;
}
.create label {
  text-align: left;
  display: block;
  color: #024fb4;
}
.create h2 {
  font-size: 20px;
  color: #00bbf0;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create input:focus, .create textarea:focus, .create select:focus {
  outline: none !important;
  border:2px solid #fdb44b;
}